.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.viewer-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.viewer-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.model-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Ensure this is higher than the starfield */
}